<div>
  {{! NOTE arguments always start with an @ sign (think "A is for arguments") }}
  <div class="columns is-mobile">
    <div class="column">
      <h1 class="title is-5">{{@article.title}}</h1>
    </div>
    {{#unless @article.preview}}
      <div class="column is-1 has-text-right">
        <a href="#" onclick={{action @togglePreview}}><i class="fa fa-caret-up"></i></a>
      </div>
    {{/unless}}
    {{! TODO bring this back later}}
    {{#if not_disabled}}
      <div class="columm is-1">
        <a href="#" onclick={{action @markAsRead}}>
          <i class="fa fa-bookmark{{_if @article.read '' '-o'}}"></i>
        </a>
      </div>
    {{/if}}
  </div>

  <p>
    {{@article.description}} <a href="#" onclick={{action @visitArticle}}>{{@article.markdown}}</a>
  </p>
</div>
