<div class="was-read-{{@article.read}}">
  {{! NOTE arguments always start with an @ sign (think "A is for arguments") }}
  <div class="columns is-mobile">
    <div class="column">
      <h1 class="title is-5">{{@article.title}}</h1>
    </div>
    {{#unless preview}}
      <div class="column is-2 has-text-right">
        <a href="#" onclick={{action togglePreview}}><i class="icon fa fa-caret-up"></i></a>
      </div>
    {{/unless}}
  </div>

  {{#if preview}}
    <p>
      {{@article.description}} <a href="#" onclick={{action togglePreview}}>{{@article.teaser}}</a>
    </p>
  {{else}}
    <p>
      Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro.
      De carne lumbering animata corpora quaeritis. Summus brains sit​​,
      morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
      Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi
      dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat
      max brucks terribilem incessu zomby.
    </p>
  {{/if}}
</div>
