<header class="no-print">
  <nav class="nav no-backgound">
    <div class="nav-left">
      <div class="nav--logo nav-item">
        <a href="#">
          <img class="minimal--logo" alt="Code-Heads Club" src="img/minimal_logo.svg" /> Code-Heads Club
        </a>
      </div>
    </div>
    <div class="nav-right">
      <a class="nav-item" href="#!/about">
        About
      </a>
      <span class="nav-item">
        <a href="https://github.com/crodriguez1a/code-heads" target="_blank" class="nav-item button is-info is-outlined">
          <i class="icon fa fa-github"></i>&nbsp;GitHub
        </a>
      </span>
    </div>
  </nav>

  {{#if (equals routeName '')}}
    <section class="hero is-info no-backgound has-text-centered">
      <div class="hero-body">
        <h1 class="title">
          <div class="hero--logo">
            <img src="img/logo_single_color.svg" alt="Code-heads Club Logo" />
          </div>
        </h1>
        <div class="content subtitle">
          <p>
            The Code-Heads Club is partnership between Engineers and Students.
            <br>
            Our mission is to maintain a <strong>free</strong> curriculum for anyone learning to code.
          </p>
        </div>
      </div>
    </section>
  {{/if}}
</header>

<main>
  <section class="section">
    <div class="columns">

      {{! Home}}
      {{#if (equals routeName '')}}
        {{#each articles key="@index" as |article index|}}
          <div class="column">
            <div class="box">
              <article-card @article={{article}} @visitArticle={{action visitArticle article.path}} @markAsRead={{action markAsRead index}} />
            </div>
          </div>
        {{/each}}
      {{/if}}

      {{! About}}
      {{#if (equals routeName 'about')}}
        <about-overview />
      {{/if}}

      {{! About/resume}}
      {{#if (equals routeName 'resume')}}
        <about-resume @resume={{resume}} @routeName={{routeName}} />
      {{/if}}

    </div>
  </section>
  <footer class="footer no-print">
    <div class="container">
    <div class="content has-text-centered">
      <a href="mailto:crodriguez1a@gmail.com" class="footer-item">
        <i class="icon fa fa-icon fa-envelope-o" aria-hidden="true"></i>
      </a> |
      <a href="https://www.linkedin.com/in/carlos-rodriguez-83a9189/" class="footer-item">
        <i class="icon fa fa-icon fa-linkedin" aria-hidden="true"></i>
      </a> |
      <a href="https://github.com/crodriguez1a/code-heads" class="footer-item">
        <i class="icon fa fa-icon fa-github" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  </footer>
</main>

<article-modal @content={{content}} />
